vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Aug 2013 03:02:28 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|SASHO-PC\\Alexander
vti_modifiedby:SR|SASHO-PC\\Alexander
vti_timecreated:TR|26 Aug 2013 03:02:28 -0000
vti_cacheddtm:TX|26 Aug 2013 03:02:28 -0000
vti_filesize:IR|2518
vti_cachedlinkinfo:VX|S|../images/ribbon-tail-sprite-2x.png S|../images/shield.png S|../images/shield-fallback.png S|../images/small-ribbon-tail-sprite-2x.png S|../images/octocat-2x.png S|../images/chevron-2x.png S|../images/blockquote-gfx-2x.png S|../images/hr-2x.jpg
vti_cachedsvcrellinks:VX|FSUS|images/ribbon-tail-sprite-2x.png FSUS|images/shield.png FSUS|images/shield-fallback.png FSUS|images/small-ribbon-tail-sprite-2x.png FSUS|images/octocat-2x.png FSUS|images/chevron-2x.png FSUS|images/blockquote-gfx-2x.png FSUS|images/hr-2x.jpg
vti_backlinkinfo:VX|stylesheets/core.css
